
:root {
    --background:  #6e5885;
}

@font-face {
    font-family: 'romantica-free';
    src: url('../fonts/romantica-free.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'myriad-pro';
    src: url('../fonts/MYRIADPRO-REGULAR.OTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

/* .gallery {
    display: flex;
    gap: 2rem;
} */

.card {
    position: relative;
    width: 14rem;
    border-radius: 8rem;
    height: 60vh;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card img {
    position: relative;
    height: 60vh;
    object-fit: fill; 
}

.card:hover {
    flex: 1.1;
    font-weight: bold;
    object-fit: cover;
    border-radius: 2rem;
}

h1 {
    font-family: 'romantica-free';
    font-size: 10.5rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
    position: absolute;
    top: -0.5%;
    left: 10%;
    letter-spacing: 6px;
}

h2 {
    font-family: 'romantica-free';
    font-size: 10rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 35%;
    left: 8%;
    right: 68%;
    letter-spacing: 3px;
}

h3 {
    font-family: 'romantica-free';
    font-size: 8rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 49%;
    left: 8%;
    right: 68%;
    letter-spacing: 3px;
}

h4 {
    font-family: 'romantica-free';
    font-size: 8rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 60%;
    left: 8%;
    right: 68%;
    letter-spacing: 3px;
}

h5 {
    font-family: 'myriad-pro', sans-serif;
    font-size: 1.2rem;
    font-weight: normal;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 72%;
    left: 8%;
    right: 72%;
    letter-spacing: 3px;
} 

p {
    font-family: 'myriad-pro', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    text-align: left;
    position: absolute;
    top: 85%;
    left: 9%;
    right: 72%;
}

#parrafo1 {
    font-family: 'myriad-pro', sans-serif;
    font-size: 1.2rem;
    color: #fff;
    text-align: justify;
    position: absolute;
    top: 75%;
    left: 5%;
    right: 80%;
}
